.photo{
max-width: 50%;
background-color: white;
border-radius: 440px;
}

.fond{
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #C0AB8E;
}

.titreprofil{
  color : white;
  padding-bottom: 3%;
}

.name{
  padding-top: 3%;
  font-size: 180%;
  color: white;
}

.infos{
  padding-top: 3%;
}