.photo{
max-width: 50%;
background-color: white;
border-radius: 440px;
}

.fond{
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #4BAFAF;
}

.titreprofil{
  color : white;
  padding-bottom: 3%;
}

.name{
  padding-top: 3%;
  font-size: 180%;
  color: white;
}

.infos{
  padding-top: 3%;
}

.coloricon{
  color: #4BAFAF;
}

.uploadimg{
  max-height: 150px;
  max-width: 150px;
}

.titrechange{
  padding-top: 15%;
  padding-bottom: 10%;
}