.check{
  padding-left: 8%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.creator{
  padding-top: 3%;
  padding-bottom: 2%;
}

.description{
  padding: 2% 2% 0 2%;
}

.coursdescrip{
  margin-left: 5%;
}

.slide, .quiz, .video{
  width: 90px; 
  height: 70px; 
  display: flex; 
  justify-content: center;
}

.slide{
  background-color: #9ACED1;
}

.quiz{
  background-color: #F2AEAE;
}

.video{
  background-color: #7144CA;
}