
.bloc{
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 3px 0px rgba(222, 216, 216, 0.14), 0px 2px 3px -1px rgba(214, 209, 209, 0.12);  
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  height: 270px;
}

.bloc h1 {
  padding-top: 5px;
  margin-top: 10px;
  padding-bottom: 13px;
  font-size: 16px;
  margin-left: 10px;
  font-weight: 200;
  color: #6f6a6a;
}

.banner{
  width: 100%;
}

.boxTitle{
  height: 55px;
  margin-bottom: 12px;
}

.hs{
  display: flex;
  overflow-x: scroll;
  list-style: none;
}

.hs li{
  margin: 5px 0 0 5px;
}

.link{
  text-decoration: none;
}

.MuiSvgIcon-root {
  width: 1em  !important ;
}

.rating {
  margin-left: 7.5px;
}

.rating .MuiButtonBase-root {
  width: 5px !important;
  /* height: 5px !important; */
  margin-right: 11px !important;
}

.rating .MuiSvgIcon-root {
  width: 17px !important;
  height: 17px !important; 
}

@media screen and (min-width: 768px) {
  .bloc{
    width: 70%;
    margin: auto;
  }
  .banner{
    width: 70%;
  }
}

