.allParcours {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.parcoursFond{
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 0.35em;
  padding-right: 0.35em;
  margin-bottom: 0.6em;
  background-color: #138787;
  color: white;
}
.parcours {
  display: flex;
  justify-content: center;
  align-items: center;
}

.allParcours li{
  margin: 5px 0 0 5px;
}

.link{
  text-decoration: none;
}

.boxTitle{
  height: 40px;
}

.MuiSvgIcon-root {
  width: 1.2em  !important ;
}

@media screen and (min-width: 768px) {
  .allParcours{
    width: 80%;
  }
}