
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap');

*
{
	outline: 0;
	margin: 0;
  padding: 0;
  outline: 0;
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -o-user-select: none; 

}

h1{
  font-family: 'Ubuntu';
  font-size: 1.4em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.App {
  text-align: center;
  height: 100%;  
}

@keyframes rotation {
  from {
          -webkit-transform: rotate(0deg);
  }
  to {
          -webkit-transform: rotate(359deg);
  }
}

.loadingType{
  height: 50px;
  margin-top: 50px;
  animation: rotation 2s infinite linear;
}

.loadingTypeHome{
  height: 80px;
  animation: rotation 2s infinite linear;
}

a {
  color: #E15920;
}

.titleSlideFormateur{ 

margin-top: 60px
 }

.topFond{
  height: 50px;
  background-color: #138787;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.CKEditor{
  margin-top: 20px;
  margin-bottom: 60px;
}

@media screen and (min-width: 400px) {
.CKEditor{
  margin-left: 80px;
  margin-right:80px;
  margin-top: 20px;
  margin-bottom: 60px;
}
}


@media screen and (max-width: 400px) {
.titleSlideFormateur{   
margin-top: 60px ;
}


.topFond{
  height: 50px;
  background-color: #138787;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

}

.import{  
  img{
    max-width: 100vw;
    max-height: 85vh;
  }
}

body {
  background-color: #FFF2E9;
}


.MuiBottomNavigationAction-root.Mui-selected {
  color:#E15920  !important;
}

.MuiTab-textColorPrimary.Mui-selected {
  color:#E15920 !important;
}

.PrivateTabIndicator-colorPrimary-203 {
  background-color: #E15920  !important;
}


.topFond h1{
 width: 90%;
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
  }
}
@media screen and (min-width: 768px) {
  .loadingTypeHome{

  }
}

