
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap');

h1{
  font-family: 'Ubuntu';
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
.App {
  text-align: center;
  height: 100%;
}

@keyframes rotation {
  from {
          -webkit-transform: rotate(0deg);
  }
  to {
          -webkit-transform: rotate(359deg);
  }
}

.loadingType{
  height: 50px;
  margin-top: 50px;
  animation: rotation 2s infinite linear;
}




.slide{
  margin: auto auto;
}

.import{  
  img{
    max-width: 90%;
  }
}

body {
  background-color: #FFF2E9;
}


.MuiBottomNavigationAction-root.Mui-selected {
  color:#E15920  !important;
}

.MuiTab-textColorPrimary.Mui-selected {
  color:#E15920 !important;
}

.PrivateTabIndicator-colorPrimary-203 {
  background-color: #E15920  !important;

}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; 

  }
}