
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap');

h1{
  font-family: 'Ubuntu';
}
.App {
  text-align: center;
  height: 100%;
}

.slide{
  margin: auto auto;
}

.import{  
  img{
    max-width: 90%;
  }
}
@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
  }
}
