.container{
  width: 900px;
	height: 636px;
	margin-left: 325px;
	position: relative;
	z-index:0;
}

.h2 {
  font-weight: normal;
  padding-bottom: 8px;
}

.h3{
  margin: -40px 0 -18px 0;
}

.ajout{
  color: #777174;
}

.Button {
  position: fixed;
  bottom: 2%;
  left: 0%;
  right: 0%;
  border-radius: 50%
    
}

.topFond{
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #138787;
  color: white;
}

.cloudupload{
  padding-right: 6%;
}

.file-upload input[type='file'],::-webkit-file-upload-button {
    background-color: #E15920;
    border: none;
    color: white;
    padding: 12px;
    border-radius: 20px;
    font-size:16px;
}

