.container{
  width: 900px;
	height: 636px;
	margin-left: 325px;
	position: relative;
	z-index:0;
}

.h2 {
  font-weight: normal;
  padding-bottom: 8px;
}

.h3{
  margin: -40px 0 -18px 0;
}

.ajout{
  color: #777174;
  font-size: 18px;
  margin-bottom: 13px;
}

.Button {
  position: fixed;
  bottom: 2%;
  left: 0%;
  right: 0%;
  border-radius: 50%
    
}

.topFond{
  height: 50px;
  background-color: #138787;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cloudupload{
  padding-right: 5px;
}

.image_uplaods{
  margin-top: -5px;
  margin-bottom: 0px;
}

.image_uplaods .MuiFab-root:active {
  box-shadow: none;
}

::after {
  border-color: #138787 !important;
  color: #138787 !important;
}

.file-upload input[type='file'],::-webkit-file-upload-button {
    background-color: #E15920;
    border: none !important;
    color: white !important;
    padding: 12px !important;
    border-radius: 20px !important;
    font-size:16px !important;
}

.imgSlide {
  width: 60%;
}

.titleSlide {
  background-color: #4ca9a9;
  padding: 3px;
  color: white;
}

.saveBox {
  border: 1px solid #E15920;
  border-radius: 4px;
  margin: auto;
}

.aperçuSlider {
  background-color: #ffffff;
  width: 100%;
  min-height: 120px;
}

.mobileStepper {
  width: 100%;
  padding: 0 !important;
}

@media screen and (min-width: 768px) {
  .imgSlide {
    width: 30%;
  }
.aperçuSlider {
    width: 50%;
    margin: auto;
    min-height: 300px;
  }
  .mobileStepper {
    width: 50%;
    margin: auto;
    padding: 0;
  }
  .saveBox {
    width: 50%;
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

